*.csv
MongoDBPractice/
CodeWars/python/.venv/
OpenCV/Retina/RetinaApp/.venv/
OpenCV/Retina/RetinaApp/media/images
Python/.venv/
Python/fastAPI/files/
Python/fastAPI/static/files/
Python/fastAPI/static/filesOriginal/
React/Button2/react-btns/node_modules