<!DOCTYPE html>
<html lang="en">
	<head>
    	<meta charset="utf-8">
    	<meta name="description" content="This is where your description goes">
    	<meta name="keywords" content="one, two, three">

		<title>Title in the tab</title>

		<!-- external CSS link -->
		<link rel="stylesheet" href="css/normalize.css">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body id = "mainBody">
		<div class="container">
			<div class = "header">
				<h1 class="title">Retina</h1>
				<h2>Improve your photos</h2>
				<h3>Turn an underexposed photo into a work of art</h3>
	
				<button>Try it</button>
	
				<span id = "about">about us</span>
			</div>
	
			<div class = "frame" id = "contentSpot">
				<!-- <img class = "blurredImage" src="splash/candle.jpeg" /> -->
			</div>  
		</div>

		<script type="text/javascript" src="js/main.js"></script>
	</body>
</html>
