h1, h2, h3 {
    color: lightgrey;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: lighter;
    font-size: 6em;
    padding: 0px;
    margin: 0px;
    line-height: 120%;

    text-align:center;
    align-items:center;
    justify-content:center;
}
h2 {

    font-size: 30px;
}
h3 {
    font-size: 18px;
    padding: 10px;
}
p {
    color:white;
}
.triple {
    display:flex;
    flex-direction: row;
    align-items: space-around;
    justify-content: center;
    width:100%;
}
.rule{
    display:flex;
    width:20%;
    color:white;
}
.left{
    justify-content:flex-end;
}
.middle {
    align-items:center;
    justify-content:center;
}
button {
    background-color: lightgrey;
    border: none;
    padding:10px 30px 10px 30px;
    margin:10px;
    border-radius: 2rem;
}
button.big {
    margin: 50px 10px 10px 10px;
    font-size: 21px ! important;
}
button.small{
    margin: 20px 10px 10px 10px;
    font-size: 13px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width:100%;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
    min-width:100%;
}
body {
    background-color: black;
    filter: drop-shadow(0 0 5px black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}
