/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

@media only screen and (max-width: 600px) {

	#Chart {
		visibility:hidden;
		width:400 px;
		height: 400 px;
	}
	
	.container {
		background-color: pink;
	}

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.container {
	background-color:  blue;
}
h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 120px;
    border: solid purple 2px;
    /* align-items: flex-start; */
    /* box-sizing: border-box; */

	border: 1px solid green;
	padding: 0px;
	margin: 0px;
	line-height: 100%;

}