<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retina</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'splash/site.css' %}" />
</head>
<body>
    <div class="container">
        <div class = "header">
            <h1 class="title">Retina</h1>
            <div class="triple">
                <div class = "rule left">_____________</div>
                <div class = "middle">    
                    <h2>
                        Improve your photos
                    </h2>
                    <h3>
                        Turn an underexposed photo into a work of art
                    </h3>
                </div>
                <div class = "rule">
                    _____________
                </div>
            </div>
            <!-- <button class="big">MAKE YOUR OWN PHOTO</button> -->
        </div>
<!-- processed image goes here! Show before and after. -->
        {% load static %}
        <script type="text/javascript" src="{% static 'splash/main.js'%}"></script>
    </div>
</body>
</html>